/* This adds 30 pixels to all front widths, 20 to the back. */

#front
{
	width: 278px;
}

#bgCenter
{
	width: 153px
}

#bgRight
{
	left: 283px
}

#back
{
	width: 244px;
}

#tableWrapper
{
	width: 147px;
}

#placeName
{
	width: 254px;
}
